* {
  box-sizing: border-box !important;
}

#root {
  --background: #fffbf2;
  --main: #396eb0;
  --border: #d3cec4;
  --w100: #95979d; /*상단 NavBar*/
}

html {
  font-size: calc(6.25% * 0.8); /*1rem = 0.7px 이 되도록 맞춤*/
}

input::placeholder {
  font-family: "NotoSansKR-Medium";
  color: black;
}

body {
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-family: "NotoSansKR";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}
